*{
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
}

.item{
    display: flex;
}

.concept{
    display: block;
    width: 120px;
}

#subt{
    display: flex;
    width: 250px;
    justify-content: space-around;
}

#subt input{
    width: 100px;
}

p{
    width: 250px;
}


.head{
    border: 2px solid black;
    background-color: lightgrey;  
}

#hd1,#hd5{
    width: 100px;
}

#hd2, #hd4{
    width: 50px;
}
#hd3{
    width: 75px;
}

.row{
    border: 2px solid black;
    font-size: small ;
    display: block; 
    height: 40px; 
}

th, td{
    font-size: small;
    text-align: start;
    text-indent: 3px;
}
.calculos{
    display: flex;
}

.calculos p{
    width: 150px;
}